<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4092887505-9b4ckrgi55t19ue9fdl93n9ca206pn1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4092887505-9b4ckrgi55t19ue9fdl93n9ca206pn1p</string>
	<key>API_KEY</key>
	<string>AIzaSyBlKmArEbHtLODGj7tm956PsLPOJBD5vRA</string>
	<key>GCM_SENDER_ID</key>
	<string>4092887505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>heyziin.Pessanger</string>
	<key>PROJECT_ID</key>
	<string>pessanger-a3120</string>
	<key>STORAGE_BUCKET</key>
	<string>pessanger-a3120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4092887505:ios:401da468fafa3bcab860f0</string>
</dict>
</plist>